:root {
  --azul: #002C5F;
  --laranja: #F47C00;
  --branco: #ffffff;
  --cinza-claro: #f0f0f5;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--azul);
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  position: relative; /* Necessário para posicionar o botão dentro */
  max-width: 800px;
  margin: 40px auto;
  background: var(--branco);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h1, h2 {
  text-align: center;
  color: var(--azul);
}

form {
  display: grid;
  gap: 16px;
  margin-bottom: 30px;
}

.campo {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[readonly] {
  background: #e9ecef;
}

.limite, small {
  font-size: 0.8em;
  color: #555;
}

.btn {
  padding: 20px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.btn {
  background: var(--laranja);
  color: #fff;
}

.btn.secundario {
  background: #95a5a6;
}

.btn.exportar {
  background: var(--laranja);
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: var(--laranja);
  color: #fff;
}

pre {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  font-family: monospace;
}

.btn-voltar {
  position: absolute;
  top: 15px;
  left: 20px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  color: var(--azul);
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.btn-voltar:hover {
  color: var(--laranja);
  transform: scale(1.1);
}
